
<body>
    <div id="mapid">
        <script data-cfasync="false" src="https://r3weber.github.io/assets/js/arrowleafletmap.js"></script>
    </div>
    <h2 class="content-head is-center">Submit GNSS Metadata</h2>
    <aside>
         <p>
            Data should be auto populated from Arrow Gold reciever
         </p>
     </aside>
  
  <!-- START HERE -->
     <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
     <!-- Style The Contact Form How Ever You Prefer -->
     <!-- <link rel="stylesheet" href="style.css"> -->
  
    <form class="gform pure-form pure-form-stacked" method="POST" 
    action="https://script.google.com/macros/s/AKfycbyV3CZYKbJvqZZxeUdyrntzYJcVW0q_QqRg7EVNKw/exec">
      <!-- change the form action to your script url -->
      <!-- <a data-toggle="collapse" href="#form-elements">GNSS Metadata Fields</a> --> 
<script type='text/javascript'>

 function receivedNewEOSPosition(lat, lon, elv, numSatsUsed, pdop, hdop, vdop, diffAge, diffType, diffStn,
xyzAccuracy, zAccuracy, xyAccuracy, geoidSep)
 {
  // mymap.setView([lat, lon]);
  
  

 document.getElementById('latElement').value = lat;
 document.getElementById('lonElement').value = lon;
 document.getElementById('elvElement').value = elv;
document.getElementById('numSatsUsedElement').value = numSatsUsed;
document.getElementById('pdopElement').value = pdop;
document.getElementById('hdopElement').value = hdop;
document.getElementById('vdopElement').value = vdop;
document.getElementById('diffAgeElement').value = diffAge;
document.getElementById('diffTypeElement').value = diffType;
document.getElementById('diffStnElement').value = diffStn;
document.getElementById('xyzAccuracyElement').value = xyzAccuracy;
document.getElementById('zAccuracyElement').value = zAccuracy;
document.getElementById('xyAccuracyElement').value = xyAccuracy;
document.getElementById('geoidSepElement').value = geoidSep;
marker.setLatLng([lat, lon]);
}
 </script>
      <div id='form-elements' class="form-elements">
        <fieldset class="pure-group">
          <label for="latElement">Lat </label>
          <input id="latElement" name="lat" />
        </fieldset>
  
        <fieldset class="pure-group">
          <label for="lonElement">Lon </label>
          <input id="lonElement" name="lon"/>
        </fieldset>

        <fieldset class="pure-group">
          <label for="elvElement">Elev (GNSS coarse MSL Height; if accurate MSL height is required, Ellipsoidal must be computed first
            with the formula: Ellipsoidal = MSL (elv) + Undulation (geoidSep) and then a local geoid grid can be
            applied to the Ellipsoidal with MSL/Orthometric = Ellipsoidal – Undulation. Note that undulation
            value can either be positive or negative)
             </label>
          <input id="elvElement" name="elv"/>
        </fieldset>

        <fieldset class="pure-group">
          <label for="numSatsUsedElement">NumSatsUsed</label>
          <input id="numSatsUsedElement" name="numSatsUsed"/>
        </fieldset>

        <fieldset class="pure-group">
          <label for="pdopElement">PDop</label>
          <input id="pdopElement" name="pdop"/>
        </fieldset>

        <fieldset class="pure-group">
          <label for="hdopElement">HDop</label>
          <input id="hdopElement" name="hdop" />
        </fieldset>

        <fieldset class="pure-group">
          <label for="vdopElement">VDop (Vertical Dilution of Precision)
          </label>
          <input id="vdopElement" name="vdop" />
        </fieldset>

        <fieldset class="pure-group">
          <label for="diffAgeElement">Diff Age (Age of differential correction)</label>
          <input id="diffAgeElement" name="diffAge" />
        </fieldset>

        <fieldset class="pure-group">
          <label for="diffTypeElement">Diff Type (Position/fix type: 0=No solution, 1=GPS, 2=DGPS, 4=RTK Fixed, 5=Float)</label>
          <input id="diffTypeElement" name="diffType" />
        </fieldset>

        <fieldset class="pure-group">
          <label for="diffStnElement">Diff Stn (Differential Station ID)</label>
          <input id="diffStnElement" name="diffStn" />
        </fieldset>

        <fieldset class="pure-group">
          <label for="xyzAccuracyElement">XYZ Accuracy</label>
          <input id="xyzAccuracyElement" name="xyzAccuracy" />
        </fieldset>

        <fieldset class="pure-group">
          <label for="zAccuracyElement">Z Accuracy</label>
          <input id="zAccuracyElement" name="zAccuracy" />
        </fieldset>

        <fieldset class="pure-group">
          <label for="xyAccuracyElement">XY Accuracy</label>
          <input id="xyAccuracyElement" name="xyAccuracy" />
        </fieldset>

        <fieldset class="pure-group">
          <label for="geoidSepElement">Geoid Sep (Geoidal separation (undulation). See “elv” above)</label>
          <input id="geoidSepElement" name="geoidSep" />
        </fieldset>
        



        
  
        <!-- <fieldset class="pure-group honeypot-field">
          <label for="honeypot">To help avoid spam, utilize a Honeypot technique with a hidden text field; must be empty to submit the form! Otherwise, we assume the user is a spam bot.</label>
          <input id="honeypot" type="text" name="honeypot" value="" />
        </fieldset> -->
  
        <button class="button-success pure-button button-xlarge">
          <i class="fa fa-paper-plane"></i>&nbsp;Send</button>
      </div>
  
      <!-- Customise the Thankyou Message People See when they submit the form: -->
      <div class="thankyou_message" style="display:none;">
        <h2>GNSS Metadata Submitted access it at <a href='https://docs.google.com/spreadsheets/d/1hblGl9xQBYH0o1SoqmYsXJ1Egu_1ErTZiiZNRrbZRV4/edit?usp=sharing'>GNSS Metadata Sheet</a></h2>
      </div>
  
    </form>
  
    <!-- Submit the Form to Google Using "AJAX" -->
    <script data-cfasync="false" src="https://r3weber.github.io/assets/js/form-submission-handler.js"></script>
  <!-- END -->
  
  </body>
