<body>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.css' type='text/css' />
    <style>
     .legend {
        background-color: #fff;
        border-radius: 3px;
        bottom: 30px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.10);
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        padding: 10px;
        position: absolute;
        right: 10px;
        z-index: 1;
        }
        
        .legend h4 {
        margin: 0 0 10px;
        }
        
        .legend div span {
        /* border-radius: 90%; */
        display: inline-block;
        height: 10px;
        margin-right: 5px;
        width: 10px;
        }

        #info {
        display: block;
        float: right;
        margin: 0px auto;
        width: 50%;
        padding: 10px;
        border: white;
        border-radius: 80px;
        font-size: 12px;
        text-align: center;
        color: rgb(255, 254, 254);
        background: rgb(15, 15, 15);
        }
       
    </style>
    
    <div id='map'>
        
       <div id='state-legend' class='legend'>
            <div><span style='background-color:red'></span>Homeless Camp Area</div>
            
        </div>
    </div>
    <div id='info'></div>
    <script>
    
    mapboxgl.accessToken = 'pk.eyJ1IjoicjN3ZWJlcjEiLCJhIjoiY2lyM3lhc3FnMDFrZ2Zwbm04cncwa2JkMiJ9.AeYZqyDiobmuxAVfIKE8gA';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/r3weber1/cjvcsqbtv6yt01fqxdd96ab5u',
        center: [-104.98879,39.75330],
        zoom: 17,
        attributionControl: false
    });
   var directions = new MapboxDirections({
        accessToken: mapboxgl.accessToken,
        // steps: false,
        geometries: 'polyline',
        profile: 'mapbox/walking'
        // controls: {instructions:false}
    });
    map.addControl(directions, 'top-left');
    directions.setOrigin('2193 Arapahoe St, Denver CO 80205');
    avoid_areas = 'https://r3weber.github.io/assets/geoJson/avoid_areas.geojson'
   map.on('load', function () {
    map.addSource('avoids', {type: 'geojson', data: avoid_areas});
    // map.getSource('runs').setData({geojson});
    map.addLayer({
            "id": "avoids",
            "type": "fill",
            "source": "avoids",
            paint: {
                'fill-color': 'red',
                'fill-opacity': 0.5,
                'fill-outline-color': 'black'
                },            
        });

 
    map.addControl(new mapboxgl.AttributionControl({
        compact: true    
    }));
    var nav = new mapboxgl.NavigationControl();
    map.addControl(nav, 'top-left');
    map.addControl(new mapboxgl.FullscreenControl());
     // Add a layer showing the places.      
    //  map.on('mousemove', function (e) {
    //     var latLong = JSON.stringify(e.lngLat, function(key, val){
        
    //         return val.toFixed ? Number(val.toFixed(4)) : val;
    //         });
    //     function replacer(key, value) {
    //         return value.replace(/[^\w\s]/gi, ' ');
    //     }
    //     document.getElementById('info').innerHTML =
    //         JSON.stringify(latLong, replacer);
    //     });
    map.on('move', () => {
        const { lng, lat } = map.getCenter();
        lng.toFixed(2);
        lat.toFixed(2);
        var zoom = map.getZoom().toFixed(2);
        document.getElementById('info').innerHTML = `Longitude: ${lng} Latitude: ${lat} Zoom: ${zoom}`
    })
   });
    
    </script>
    
</body>