<body>

    <style>
        .mapboxgl-popup {
            max-width: 400;
            font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        }
        /* .mapboxgl-popup-content {
            height:200px;
        } */
       
    </style>
    
    <div id='map'>
       <nav id="menu"></nav> 
    </div>
    <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoicjN3ZWJlcjEiLCJhIjoiY2lyM3lhc3FnMDFrZ2Zwbm04cncwa2JkMiJ9.AeYZqyDiobmuxAVfIKE8gA';
    var run_tracks = 'https://r3weber.github.io/assets/geoJson/runs.geojson';
    var run_points = 'https://r3weber.github.io/assets/geoJson/run_locations.geojson';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/r3weber1/cjsp27atf0lfd1fqntu4h01gz',
        center: [-105.2705, 40.0150],
        zoom: 4,
        attributionControl: false
    });
   
   map.on('load', function () {
    map.addSource('runs', {type: 'geojson', data: run_tracks});
    map.addSource('markers', {type: 'geojson', data: run_points});
    // map.getSource('runs').setData({geojson});
    map.addLayer({
            "id": "runs",
            "type": "line",
            "source": "runs",
            paint: {
                'line-color': 'blue',
                'line-width': 6,
                },            
        });
    map.loadImage('/assets/images/unnamed.jpg', function(error, image) {
        if (error) throw error;
        map.addImage('shoe', image);
        map.addLayer({
            "id": "markers",
            "interactive": true,
            "type": "symbol",
            "source": "markers",
            "layout": {
                "icon-image": 'shoe',
                "icon-size": .02
            },
            "paint": {
                /*"text-size": 10,*/
            }
        });
   });


    
    // run_points.features.forEach(function(marker) {
        
    //     // create a HTML element for each feature
    //     var el = document.createElement('div');
    //     el.className = 'marker';

    //     // make a marker for each feature and add to the map
    //     new mapboxgl.Marker(el)
    //     .setLngLat(marker.geometry.coordinates)
    //     setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
    //         .setHTML('<h3>' + marker.properties.desc + '</h3><p>' + marker.properties.distance + '</p>'))
    //     .addTo(map);
    //         });
    map.addControl(new mapboxgl.AttributionControl({
        compact: true    
    }));
    var nav = new mapboxgl.NavigationControl();
    map.addControl(nav, 'top-left');
    map.addControl(new mapboxgl.FullscreenControl());
     // Add a layer showing the places.      
       
});       
    
    </script>
    
</body>