<body>

    <style>
        .mapboxgl-popup {
            max-width: 400;
            font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        }
        .mapboxgl-popup-content {
            height:200px;
        }
       
    </style>
    
    <div id='map'>
       <nav id="menu"></nav> 
    </div>
    <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoicjN3ZWJlcjEiLCJhIjoiY2lyM3lhc3FnMDFrZ2Zwbm04cncwa2JkMiJ9.AeYZqyDiobmuxAVfIKE8gA';
    var url = 'https://r3weber.github.io/assets/geoJson/runs.geojson';
    var geoJson = map.addSource('runs', {type: 'geojson', data: url});
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/r3weber1/cjsp27atf0lfd1fqntu4h01gz',
        center: [-105.2705, 40.0150],
        zoom: 4,
        attributionControl: false
    });
   geoJson.features.forEach(function(marker) {
        
        // create a HTML element for each feature
        var el = document.createElement('div');
        el.className = 'marker';

        // make a marker for each feature and add to the map
        new mapboxgl.Marker(el)
        .setLngLat(marker.geometry.coordinates)
        setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
            .setHTML('<h3>' + marker.properties.desc + '</h3><p>' + marker.properties.distance + '</p>'))
        .addTo(map);
            });
     map.addControl(new mapboxgl.AttributionControl({
        compact: true    
    }));
    var nav = new mapboxgl.NavigationControl();
    map.addControl(nav, 'top-left');
    map.addControl(new mapboxgl.FullscreenControl());
     // Add a layer showing the places.      
            
        
    
    </script>
    
</body>