
  <!-- Swiper -->
  <body>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-image: url('/assets/images/IMG-3932.JPG')"></div>
      <div class="swiper-slide" style="background-image: url('/assets/images/IMG-4033.JPG')"></div>
      <div class="swiper-slide" style="background-image: url('/assets/images/IMG_3952.jpg')"></div>
      <div class="swiper-slide" style="background-image: url('/assets/images/IMG-3989.JPG')"></div>
      <div class="swiper-slide" style="background-image: url('/assets/images/IMG_3990.jpg')"></div>
      <div class="swiper-slide" style="background-image: url('/assets/images/IMG-4035.JPG')"></div>
      <div class="swiper-slide" style="background-image: url('/assets/images/IMG-4044.JPG')"></div>
      <div class="swiper-slide" style="background-image: url('/assets/images/IMG_4025.jpg')"></div>
      <div class="swiper-slide" style="background-image: url('/assets/images/IMG_4026.jpg')"></div>
      <div class="swiper-slide" style="background-image: url('/assets/images/IMG_3965.jpg')"></div>
      <div class="swiper-slide" style="background-image: url('/assets/images/IMG_3985.jpg')"></div>
      <div class="swiper-slide" style="background-image: url('/assets/images/IMG_3979.jpg')"></div>
      <div class="swiper-slide" style="background-image: url('/assets/images/IMG_4003.jpg')"></div>
      <div class="swiper-slide" style="background-image: url('/assets/images/IMG_4016.jpg')"></div>
      <div class="swiper-slide" style="background-image: url('/assets/images/IMG_20190119_201327464.jpg')"></div>
      <div class="swiper-slide" style="background-image: url('/assets/images/IMG_20190120_114315115.jpg')"></div>
      <div class="swiper-slide" style="background-image: url('/assets/images/IMG_20190120_114318641.jpg')"></div>
      <div class="swiper-slide" style="background-image: url('/assets/images/IMG_20190121_113903151.jpg')"></div>
      <div class="swiper-slide" style="background-image: url('/assets/images/IMG_20190122_132005415.jpg')"></div>
      <div class="swiper-slide" style="background-image: url('/assets/images/IMG_20190126_114247932_HDR.jpg')"></div>

    </div>
    <div class="swiper-pagination"></div>
  </div>

  <!-- Swiper JS -->
  <script src="/assets/js/swiper.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
     var swiper = new Swiper('.swiper-container', {
      loop: true,
      autoplay: {
        delay: 5000,
        disableOnInteraction: false
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
        renderBullet: function (index, className) {
          return '<span class="' + className + '">' + '</span>';
        },
      },
    });
  </script>
  </body>

