<body>

    <style>
        .mapboxgl-popup {
            max-width: 400;
            font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        }
        /* .mapboxgl-popup-content {
            height:200px;
        } */
       
    </style>
    
    <div id='map'>
       <nav id="menu"></nav> 
    </div>
    <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoicjN3ZWJlcjEiLCJhIjoiY2lyM3lhc3FnMDFrZ2Zwbm04cncwa2JkMiJ9.AeYZqyDiobmuxAVfIKE8gA';
    
    var run_points = 'https://r3weber.github.io/assets/geoJson/wescoeStates.geojson';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/r3weber1/cjsp27atf0lfd1fqntu4h01gz',
        center: [-105.2705, 40.0150],
        zoom: 3,
        attributionControl: false
    });
   
   map.on('load', function () {
    
    map.addSource('markers', {type: 'geojson', data: run_points});
    // map.getSource('runs').setData({geojson});
    map.addLayer({
            "id": "runs",
            "type": "line",
            "source": "runs",
            paint: {
                'line-color': 'blue',
                'line-width': 6,
                },            
        });
//     map.loadImage('./assets/images/unnamed.jpg', function(error, image) {
//         if (error) throw error;
//         map.addImage('shoe', image);
//         map.addLayer({
//             "id": "markers",
//             "interactive": true,
//             "type": "symbol",
//             "source": "markers",
//             "layout": {
//                 "icon-image": 'shoe',
//                 "icon-size": .25,
                 
//             },
//             "paint": {
//                 /*"text-size": 10,*/
//             }
//         });
//    });
  
//     map.on('click', 'markers', function (e) {
//         var coordinates = e.features[0].geometry.coordinates.slice();
//         var description = e.features[0].properties.Location;
        
//         // Ensure that if the map is zoomed out such that multiple
//         // copies of the feature are visible, the popup appears
//         // over the copy being pointed to.
//         while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
//         coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
//         }
//             map.flyTo({
//             // These options control the ending camera position: centered at
//             // the target, at zoom level 9, and north up.
//                 center: e.features[0].geometry.coordinates,
//                 zoom: 10,
//                 bearing: 0,
     
//                 // These options control the flight curve, making it move
//             // slowly and zoom out almost completely before starting
//             // to pan.
//             speed: 1.5, // make the flying slow
//             curve: 1, // change the speed at which it zooms out
            
//             // This can be any easing function: it takes a number between
//             // 0 and 1 and returns another number between 0 and 1.
//             easing: function (t) { return t; }
//             });
//         new mapboxgl.Popup()
//         .setLngLat(coordinates)
//         .setHTML(description)
//         .addTo(map);
//         });
    map.on('mouseenter', 'markers', function () {
                map.getCanvas().style.cursor = 'pointer';
            });
        
            // Change it back to a pointer when it leaves.
    map.on('mouseleave', 'markers', function () {
                map.getCanvas().style.cursor = '';
            });

    $.getJSON(run_points, function (geojson) {
        geojson.features.forEach(function(marker) {
            
            // create a HTML element for each feature
            var el = document.createElement('div');
            el.className = 'marker';
            el.id = 'marker';

            // make a marker for each feature and add to the map
            new mapboxgl.Marker(el)
            
            
            .setLngLat(marker.geometry.coordinates)
            .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
                .setHTML(`<h1>${marker.properties.Location}</h1>`))
            .addTo(map);
            // document.getElementById('marker').addEventListener('click', function (){
            //    map.flyTo({
            //         zoom: 10,
            //         center: marker.geometry.coordinates});
            //     });
             
            // });
                
            

        });
    });
    map.addControl(new mapboxgl.AttributionControl({
        compact: true    
    }));
    var nav = new mapboxgl.NavigationControl();
    map.addControl(nav, 'top-left');
    map.addControl(new mapboxgl.FullscreenControl());
     // Add a layer showing the places.      
 });  
       
    
    </script>
    
</body>